.add-entry-button {
  margin-top: 150px;
  padding: 10px 50px;
}

.add-entry-button-container {
  justify-content: center;
}

.days-buttons {
  justify-content: space-evenly;
}

.days-buttons button {
  padding: 1.75rem;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.219);
  text-align: center;
}

.entry-modal {
  background: white;
  padding: 35px;
}

.table-container {
  justify-content: center;
}

.table-container table {
  width: 90%;
}

.table-container thead tr {
  background: rgb(165, 165, 165);
}

.table-container table,
th,
td {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.table-container tbody tr:nth-child(even) {
  background: rgb(200, 200, 200);
}

.yes-no {
  display: flex;
  justify-content: space-evenly;
}

.update-delete-buttons {
  float: right;
}

.update-delete-buttons button {
  margin: 0 3px;
}
