.add-entry-button {
  margin-top: 150px;
  padding: 10px 50px;
}

.add-entry-button-container {
  justify-content: center;
}

.days-buttons {
  justify-content: space-evenly;
}

.days-buttons button {
  padding: 1.75rem;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.219);
}

.add-entry-modal {
  background: white;
  padding: 20px;
}
